*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 8rem;
    min-width: 37.5rem;

    background-color: white;
}

header nav a img{
    height: 5rem;
}

main{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    min-width: 37.5rem;
}

section{
    background-color: white;
    text-align: center;
    padding: 2rem;

    border-radius: 5px;
}

section h2{
    font-size: 2rem;
    line-height: 4.2rem; 
}

/*ajuste perfil*/

.perfil-img{
    height: 15rem;
    padding: 2rem;
}

section p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #222222;
}

section a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;

    display: block;
    margin: 2rem auto 0;
    padding: 1.5rem;
    width:fit-content;

    background-color: #dc002d;
    color: white;
}

section a:hover{
    background-color: #c5032a;

}

section ul{
    list-style: none;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

section ul li{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #222222;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section iframe{
    margin: 2rem 0;
}

.info h1{
    font-size: 2.8rem;
    line-height: 4.2rem; 
}

@media (min-width: 900px) {

    main{
        grid-template-areas: "A B" "C B";
        grid-template-columns: 1fr 1fr; 
        justify-items: start;
    }

    main section:nth-child(1){
        grid-area: A;
    }
    
    main section:nth-child(2){
        grid-area: B;
    }
    
}


